# Empêcher l'exécution de scripts dans ce dossier
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .aspx .htm .html .shtml .sh .cgi

# N'autoriser que les types d'images
<FilesMatch "(?i)\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|aspx|htm|html|shtml|sh|cgi)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Autoriser uniquement les types de fichiers d'images ou webp
<FilesMatch "(?i)\.(gif|jpe?g|png|webp)$">
    Order Deny,Allow
    Allow from all
</FilesMatch>

# Désactiver l'indexation
Options -Indexes 